@charset "UTF-8";
body {
  width: 16rem;
  margin: 0 auto;
  padding: 0; }

/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1; }

.font_yahei {
  font-family: "Microsoft YaHei"; }

/*首页开始*/
.sm-header {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -8rem;
  z-index: 999999;
  font-size: 0.5546666667rem;
  color: #ffffff;
  font-weight: lighter;
  line-height: 1.8773333333rem;
  padding-left: 2.304rem;
  width: 13.696rem;
  height: 1.8773333333rem;
  background: #333333 url("../images/logo.png") 0.4266666667rem 0.256rem/1.7066666667rem 1.3653333333rem no-repeat; }

.right-nav {
  cursor: pointer;
  width: 1.8773333333rem;
  height: 1.8773333333rem;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../images/right_nav.png") center center/0.9386666667rem 0.6826666667rem no-repeat; }

.sm-news {
  padding-top: 1.28rem;
  padding-bottom: 0.64rem;
  border-bottom: 0.2133333333rem solid #efefef; }

.sm-title {
  padding-left: 0.4266666667rem;
  font-size: 0.768rem;
  font-weight: bold;
  color: #333333;
  position: relative; }

.sm-title:before {
  content: " ";
  width: 0.1706666667rem;
  background: #2fbbe3;
  height: 0.7253333333rem;
  position: absolute;
  left: 0;
  top: 0.1493333333rem; }

.sm-title a {
  position: absolute;
  top: 0;
  right: 0.4266666667rem;
  font-size: 0.512rem;
  color: #2fb8df; }

.news-swiper, .match-swiper, .talent-swiper, .member-swiper {
  margin: auto;
  width: 15.1466666667rem; }

.news-swiper .swiper-pagination, .match-swiper .swiper-pagination, .talent-swiper .swiper-pagination, .member-swiper .swiper-pagination, .fzlc-swiper .swiper-pagination {
  padding-top: 0.1066666667rem;
  padding-bottom: 0.4266666667rem;
  position: static;
  text-align: left; }

.fzlc-swiper .swiper-pagination {
  text-align: center;
  padding-bottom: 0.8533333333rem; }

.fzlc-swiper .swiper-pagination-bullet {
  width: 1.856rem !important;
  height: 0.8106666667rem !important;
  color: #666666 !important;
  background: transparent !important; }

.news-swiper .swiper-pagination-bullet, .match-swiper .swiper-pagination-bullet, .talent-swiper .swiper-pagination-bullet, .member-swiper .swiper-pagination-bullet, .fzlc-swiper .swiper-pagination-bullet {
  outline: none;
  text-align: center;
  width: 2.7733333333rem;
  height: 0.896rem;
  font-size: 0.512rem;
  border-radius: 24px;
  line-height: 0.896rem;
  color: #999999;
  background: #ffffff;
  opacity: 1; }

.news-swiper .swiper-pagination-bullet-active, .match-swiper .swiper-pagination-bullet-active, .talent-swiper .swiper-pagination-bullet-active, .member-swiper .swiper-pagination-bullet-active, .fzlc-swiper .swiper-pagination-bullet-active {
  background: #2fbbe3 !important;
  color: #ffffff !important; }

.news-top-left {
  float: left;
  width: 6.4rem;
  height: 3.072rem;
  overflow: hidden;
  padding-right: 0.4266666667rem; }

.news-top-left img {
  width: 6.4rem; }

.news-top-right {
  line-height: 0.768rem;
  height: 3.072rem;
  width: 8.32rem;
  float: left; }

.news-swiper {
  width: 15.1466666667rem;
  margin: auto; }

.news-top-right .news-title {
  font-size: 0.512rem;
  color: #333333; }

.news-top-right .news-summary {
  font-size: 0.512rem;
  color: #999999; }

.news-lists {
  padding-top: 0.4266666667rem; }

.news-lists li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.0666666667rem;
  font-size: 0.512rem;
  color: #333333;
  padding-left: 0.384rem;
  background: url("../images/spot.png") 0 0.448rem/0.1706666667rem 0.1706666667rem no-repeat; }

.sm-match {
  border-bottom: none; }

.sm-association {
  margin-top: 1.0666666667rem;
  position: relative;
  padding: 0 8.8533333333rem 0.8533333333rem 0.4266666667rem;
  background: #333333; }

.association-title-cn {
  padding-top: 0.96rem;
  font-size: 0.768rem;
  color: #ffffff; }

.association-title-en {
  font-size: 0.4266666667rem;
  color: #999999;
  padding-bottom: 0.5546666667rem; }

.association-summary {
  font-size: 0.512rem;
  color: #999999;
  text-align: justify;
  line-height: 0.832rem; }

.association-btn {
  width: 3.4773333333rem;
  height: 1.2586666667rem;
  border: 1px solid #2fbbe3;
  border-radius: 5px;
  font-size: 0.512rem;
  color: #2fbbe3;
  display: block;
  line-height: 1.2586666667rem;
  text-align: center;
  margin-top: 0.8533333333rem; }

.association-img {
  position: absolute;
  top: -1.0666666667rem;
  right: 0.4266666667rem;
  width: 7.5946666667rem;
  height: 11.3706666667rem; }

.association-img img {
  width: 7.5946666667rem;
  height: 11.3706666667rem; }

.list-left {
  padding-right: 0.4266666667rem;
  width: 4.48rem;
  height: 3.3493333333rem;
  float: left; }

.list-right {
  width: 10.4533333333rem;
  height: 3.3493333333rem;
  float: left; }

.list-left img {
  width: 4.48rem; }

.product-list li {
  margin-top: 0.64rem; }

.product-list {
  padding-bottom: 0.4266666667rem; }

.list-right-title {
  font-size: 0.64rem;
  color: #333333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.list-right-summary {
  font-size: 0.512rem;
  color: #999999; }

.member-lists {
  padding-bottom: 0.4266666667rem; }

.member-lists li {
  float: left;
  width: 7.4026666667rem;
  margin-right: 0.3413333333rem; }

.member-lists li:nth-child(2) {
  margin-right: 0; }

.member-lists li img {
  display: block;
  width: 7.4026666667rem; }

.member-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 0.2133333333rem;
  line-height: 1.1093333333rem;
  font-size: 0.5546666667rem;
  color: #333333; }

.member-summary {
  line-height: 0.832rem;
  font-size: 0.512rem;
  color: #999999; }

.committee-lists {
  width: 15.1466666667rem;
  margin: auto; }

.committee-lists > li {
  width: 15.1466666667rem;
  height: 11.2213333333rem;
  position: relative;
  margin-top: 0.6186666667rem; }

.committee-lists > li img {
  width: 15.1466666667rem;
  height: 11.2213333333rem; }

.committee-lists-content {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 15.1466666667rem;
  height: 4.1813333333rem; }

.committee-lists-title {
  padding-top: 0.64rem;
  text-align: center;
  color: #b5b6b5;
  font-size: 0.4266666667rem; }

.committee-lists-title span {
  color: #ffffff;
  font-size: 0.64rem; }

.committee-lists1 {
  padding: 0.256rem 0.7466666667rem 0; }

.committee-lists1 li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 0.8533333333rem;
  font-size: 0.512rem;
  color: #ffffff;
  padding-left: 0.4693333333rem;
  background: url("../images/spot.png") 0 0.3413333333rem/0.1706666667rem 0.1706666667rem no-repeat; }

.talent-lists {
  padding-bottom: 0.4266666667rem;
  width: 15.1466666667rem;
  margin: auto; }

.talent-lists li {
  padding-top: 0.32rem;
  padding-bottom: 0.5333333333rem;
  border-bottom: 1px solid #dcdddd;
  font-size: 0.512rem;
  color: #999999;
  background: url("../images/triangle.png") right center/0.32rem 0.3413333333rem no-repeat; }

.talent-lists li .talent-title {
  color: #333333;
  line-height: 1.024rem; }

.sm-footer {
  padding: 0.4266666667rem 0;
  text-align: center;
  width: 16rem;
  background: #dcdddd;
  font-size: 0.4266666667rem;
  color: #999999; }

/*首页结束*/
/*首页_产品与服务开始*/
.cpfw-img {
  width: 16rem;
  display: block; }

.cpfw-lists {
  padding-bottom: 1.0666666667rem;
  width: 15.1466666667rem;
  margin: auto; }

.cpfw-lists li {
  padding-top: 0.64rem; }

.cpfw-lists li img, .cpfw-detail img {
  width: 15.1466666667rem;
  display: block; }

.cpfw-lists li span, .cpfw-detail span {
  display: block;
  text-indent: 2em;
  font-size: 0.512rem;
  color: #333333;
  line-height: 0.8106666667rem;
  padding-bottom: 0.7466666667rem; }

.cpfw-title {
  padding-bottom: 0.4266666667rem;
  padding-top: 0.5973333333rem;
  text-align: center;
  color: #333333;
  font-size: 0.64rem;
  font-weight: bold; }

.cpfw-btn {
  width: 3.4773333333rem;
  height: 1.2373333333rem;
  border-radius: 5px;
  border: 1px solid #2fbbe3;
  color: #2fbbe3;
  font-size: 0.512rem;
  display: block;
  line-height: 1.2373333333rem;
  text-align: center;
  margin: auto; }

/*首页_产品与服务结束*/
/*首页_产品与服务_产品详情开始*/
.cpfw-detail {
  padding-top: 0.64rem;
  width: 15.1466666667rem;
  margin: auto; }

/*首页_产品与服务_产品详情结束*/
/*首页_关于我们-发展历程开始*/
.sm-mid-nav {
  white-space: nowrap;
  overflow-x: auto;
  width: 16rem;
  box-shadow: 0px 4px 10px #cacaca;
  overflow-y: hidden; }

.sm-mid-nav::-webkit-scrollbar {
  display: none; }

.sm-mid-nav a {
  text-align: center;
  font-size: 0.5973333333rem;
  color: #333333;
  display: inline-block;
  width: 4.2666666667rem;
  height: 1.0666666667rem;
  border-bottom: 0.1066666667rem solid #ffffff; }

.sm-mid-nav a.on {
  font-weight: bold;
  color: #2fbbe3;
  border-bottom: 0.1066666667rem solid #2fbbe3; }

.fzlc-swiper {
  width: 15.1466666667rem;
  padding: 0 0.4266666667rem;
  background: url("../images/fzlcbg.png") center center/cover; }

.fzlc-swiper .swiper-slide .fzlc-list {
  /* height:px2rem(955);
   overflow-y: auto;*/ }

.fzlc-introduction {
  font-size: 0.4693333333rem;
  color: #333333;
  float: left;
  width: 5.3333333333rem; }

.fzlc-date {
  font-size: 0.4693333333rem;
  color: #333333;
  float: left;
  width: 4.6933333333rem;
  position: relative;
  bottom: 0.256rem;
  margin-left: 0.64rem; }

.fzlc-swiper .swiper-slide .fzlc-list li {
  position: relative;
  padding-top: 0.256rem;
  width: 12.16rem;
  margin: auto;
  padding-bottom: 0.896rem; }

.fzlc-date span {
  margin-left: 1.0666666667rem;
  display: inline-block;
  width: 1.92rem;
  line-height: 0.768rem;
  height: 0.768rem;
  font-weight: bold;
  border: 1px dashed #333333;
  border-radius: 5px;
  text-align: center;
  position: relative; }

.fzlc-date span:before {
  content: " ";
  border-bottom: 1px dashed #585859;
  width: 0.4693333333rem;
  position: absolute;
  left: -0.5546666667rem;
  top: 0.384rem; }

.fzlc-date span:after {
  content: " ";
  width: 0.192rem;
  height: 0.2346666667rem;
  position: absolute;
  left: -0.7893333333rem;
  top: 0.2773333333rem;
  background: url("../images/date-left.png") 0 0/0.192rem 0.2346666667rem no-repeat; }

.fzlc-line-spot {
  width: 0.32rem;
  height: 0.32rem;
  border-radius: 100px;
  background: #000000;
  position: absolute;
  top: 0.256rem;
  left: 5.9093333333rem; }

.fzlc-line-dotted {
  position: absolute;
  top: 0.576rem;
  left: 6.0586666667rem;
  height: 100%;
  border-right: 1px dashed #333333; }

.date-left .fzlc-date span:before {
  left: 2.048rem; }

.date-left .fzlc-date span:after {
  left: 2.432rem;
  background-image: url(../images/data-right.png); }

.date-left .fzlc-date {
  text-align: right;
  margin-left: 0.512rem; }

.date-left .fzlc-introduction {
  float: right; }

.fzlc-swiper-ctrl {
  position: relative;
  height: 0.896rem;
  top: 0.896rem; }

.fzlc-swiper-ctrl .swiper-button-next, .fzlc-swiper-ctrl .swiper-button-prev {
  top: 0;
  margin-top: 0; }

.fzlc-swiper-ctrl .swiper-button-prev, .fzlc-swiper-ctrl .swiper-container-rtl .swiper-button-next {
  background-image: url(../images/ctrl-left.png); }

.fzlc-swiper-ctrl .swiper-button-next, .fzlc-swiper-ctrl .swiper-container-rtl .swiper-button-prev {
  background-image: url(../images/ctrl-right.png); }

.fzlc-swiper-ctrl .swiper-button-next, .fzlc-swiper-ctrl .swiper-button-prev {
  width: 0.896rem;
  height: 0.896rem;
  background-size: 0.896rem 0.896rem; }

/*首页_关于我们-发展历程结束*/
/*首页_关于我们-加入我们开始*/
.jrwm-lists li {
  background: none; }

.jrwm-lists li span {
  float: right; }

.yghd-lists {
  width: 15.1466666667rem;
  margin: auto;
  padding-top: 0.64rem; }

.yghd-lists li {
  margin-right: 0.64rem;
  width: 7.04rem;
  float: left;
  margin-bottom: 0.64rem; }

.yghd-lists li:nth-child(2n) {
  margin-right: 0; }

.yghd-lists-top {
  width: 7.04rem;
  height: 4.6933333333rem;
  position: relative;
  overflow: hidden; }

.yghd-lists-top img {
  width: 7.04rem;
  height: 4.6933333333rem; }

.yghd-lists-bottom {
  width: 7.04rem;
  font-size: 0.4693333333rem;
  color: #666666;
  line-height: 0.8106666667rem;
  padding-top: 0.4266666667rem; }

.yghd-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.5);
  height: 1.28rem;
  width: 7.04rem;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.5546666667rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.28rem; }

.sm-yghd {
  padding-top: 0.64rem;
  background: #eeeff1; }

.sm-yghd-title {
  width: 14.72rem;
  margin: auto; }

.gbhj-lists-bottom {
  height: 1.28rem;
  line-height: 1.28rem;
  color: #333333;
  background: #ffffff;
  font-size: 0.5546666667rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.gbhj-lists li {
  box-shadow: 0px 4px 10px #bbbbbb; }

/*首页_关于我们-加入我们结束*/
/*首页_关于我们-联系我们开始*/
.lxwm-map {
  width: 15.1466666667rem;
  margin: 0.8533333333rem auto;
  border: 1px solid #999999;
  padding: 0.32rem 0; }

#sm-map {
  width: 14.5066666667rem;
  margin: auto;
  height: 6.272rem; }

.lxwm-title {
  font-size: 0.5546666667rem;
  font-weight: bold;
  color: #333333;
  width: 11.9466666667rem;
  margin: auto;
  padding-bottom: 0.4266666667rem; }

.lxwm-lists {
  width: 11.9466666667rem;
  margin: auto; }

.lxwm-lists li {
  font-size: 0.4693333333rem;
  color: #666666;
  line-height: 0.768rem; }

.icon-1 {
  width: 0.4266666667rem;
  height: 0.4906666667rem;
  margin: 0 0.3413333333rem 0 0;
  position: relative;
  top: 0.064rem;
  display: inline-block;
  background: url("../images/icon1.png") 0 0/0.4266666667rem 0.4906666667rem no-repeat; }

.icon-2 {
  width: 0.4266666667rem;
  height: 0.4906666667rem;
  margin: 0 0.3413333333rem 0 0;
  position: relative;
  top: 0.064rem;
  display: inline-block;
  background: url("../images/icon2.png") 0 0/0.4266666667rem 0.4906666667rem no-repeat; }

.icon-3 {
  width: 0.4266666667rem;
  height: 0.4906666667rem;
  margin: 0 0.3413333333rem 0 0;
  position: relative;
  top: 0.064rem;
  display: inline-block;
  background: url("../images/icon3.png") 0 0/0.4266666667rem 0.4906666667rem no-repeat; }

.icon-4 {
  width: 0.4266666667rem;
  height: 0.4906666667rem;
  margin: 0 0.3413333333rem 0 0;
  position: relative;
  top: 0.064rem;
  display: inline-block;
  background: url("../images/icon4.png") 0 0/0.4266666667rem 0.4906666667rem no-repeat; }

.icon-5 {
  width: 0.4266666667rem;
  height: 0.4906666667rem;
  margin: 0 0.3413333333rem 0 0;
  position: relative;
  top: 0.064rem;
  display: inline-block;
  background: url("../images/icon5.png") 0 0/0.4266666667rem 0.4906666667rem no-repeat; }

.icon-6 {
  width: 0.4266666667rem;
  height: 0.4906666667rem;
  margin: 0 0.3413333333rem 0 0;
  position: relative;
  top: 0.064rem;
  display: inline-block;
  background: url("../images/icon6.png") 0 0/0.4266666667rem 0.4906666667rem no-repeat; }

.lxwm-form {
  width: 11.9466666667rem;
  margin: 0.256rem auto; }

.input-group {
  border-radius: 5px;
  position: relative;
  width: 10.7946666667rem;
  height: 1.4506666667rem;
  border: 1px solid #666666;
  margin-bottom: 0.4266666667rem; }

.input-group label, .text-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1.92rem;
  height: 1.4506666667rem;
  line-height: 1.4506666667rem;
  font-size: 0.4266666667rem;
  font-weight: bold;
  color: #666666;
  text-align: center; }

.input-group input {
  display: block;
  font-size: 0.4266666667rem;
  color: #666666;
  border: none;
  background: transparent;
  outline: none;
  padding-left: 1.92rem;
  width: 8.8746666667rem;
  height: 1.4506666667rem; }

.text-group {
  border-radius: 5px;
  position: relative;
  width: 10.7946666667rem;
  height: 6.9333333333rem;
  border: 1px solid #666666;
  margin-bottom: 0.4266666667rem; }

.text-group textarea {
  display: block;
  font-size: 0.4266666667rem;
  color: #666666;
  border: none;
  background: transparent;
  outline: none;
  width: 8.4053333333rem;
  height: 5.9946666667rem;
  padding: 0.4693333333rem 0.4693333333rem 0.4693333333rem 1.92rem; }

.lxwm-form-btn {
  width: 10.7946666667rem;
  height: 1.4933333333rem;
  display: block;
  background: #2fbbe3;
  color: #ffffff;
  font-size: 0.64rem;
  font-weight: bold;
  line-height: 1.4933333333rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1.2373333333rem; }

/*首页_关于我们-联系我们结束*/
/*首页_关于我们-协会简介开始*/
.xhjj {
  position: relative;
  width: 15.1466666667rem;
  height: 5.3333333333rem;
  margin: 0.5973333333rem auto 0;
  background: url("../images/xhjj1.png") 0 0/15.1466666667rem 5.3333333333rem no-repeat; }

.xhjj-font {
  position: absolute;
  font-size: 0.4266666667rem;
  color: #b0afb0;
  top: 1.8133333333rem; }

.xhjj-font label {
  font-size: 0.384rem;
  color: #ffffff; }

.xhjj-font span {
  font-size: 0.768rem;
  color: #ffffff;
  font-weight: bold; }

.xhjj-1 {
  left: 0.4693333333rem; }

.xhjj-2 {
  left: 4.0533333333rem; }

.xhjj-3 {
  left: 6.8266666667rem; }

.xhjj-4 {
  left: 9.856rem; }

.xhjj-5 {
  left: 12.8rem; }

.xhjj-contnet {
  width: 15.1466666667rem;
  height: 8.4053333333rem;
  margin: auto;
  position: relative;
  bottom: 1.0666666667rem;
  background: url("../images/xhjj2.png") 0 0/15.1466666667rem 8.4053333333rem no-repeat; }

.xhjj-contnet-inside {
  text-indent: 2em;
  position: absolute;
  bottom: 0.5333333333rem;
  right: 0.5333333333rem;
  width: 7.8933333333rem;
  font-size: 0.4266666667rem;
  color: #333333;
  line-height: 0.7466666667rem; }

.xhjj-contnet-rticle {
  width: 15.1466666667rem;
  margin: auto; }

.xhjj-contnet-rticle img {
  max-width: 15.1466666667rem; }

/*首页_关于我们-协会简介结束*/
/*首页_关于我们-专家委员会开始*/
.zjwyh-lists {
  width: 15.1466666667rem;
  margin: 0.6826666667rem auto; }

.zjwyh-lists li {
  float: left;
  width: 7.36rem;
  box-shadow: 0px 4px 10px #bebebe;
  margin-right: 0.4266666667rem;
  margin-bottom: 0.4266666667rem; }

.zjwyh-lists li:nth-child(2n) {
  margin-right: 0; }

.zjwyh-lists li img {
  display: block;
  height: 5.0773333333rem;
  width: 7.36rem; }

.zj-name {
  margin-top: 0.2986666667rem;
  padding-left: 0.4266666667rem;
  border-left: 0.128rem solid #2fbbe3;
  font-size: 0.64rem;
  font-weight: bold;
  color: #030303; }

.zj-name span, .zj-summary {
  font-size: 0.512rem;
  font-weight: normal;
  color: #333333;
  padding-left: 0.4266666667rem; }

.zj-summary {
  padding-top: 0.4266666667rem;
  line-height: 0.8106666667rem; }

.zj-btn {
  display: block;
  width: 3.4773333333rem;
  height: 1.2373333333rem;
  line-height: 1.2373333333rem;
  font-size: 0.512rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #2fbbe3;
  color: #2fbbe3;
  margin: 0.6826666667rem auto; }

/*首页_关于我们-专家委员会结束*/
/*首页_会员服务-会员企业风采开始*/
.hyfc-mid-nav a {
  width: 8rem; }

.hy-name {
  border-left: none;
  text-align: center; }

/*首页_会员服务-会员企业风采结束*/
/*首页_会员服务-会员企业风采-详细内容开始*/
.hyfc-article-title {
  padding-top: 0.64rem;
  width: 15.1466666667rem;
  height: 2.1333333333rem;
  margin: auto; }

.hyfc-article-title {
  font-size: 0.64rem;
  font-weight: bold;
  color: #333333; }

.hyfc-article-summary {
  padding-bottom: 0.256rem;
  padding-top: 0.1066666667rem;
  border-bottom: 1px solid #dcdddd; }

.hyfc-article-summary span {
  font-size: 0.512rem;
  color: #333333;
  width: 9.6rem;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal; }

.hyfc-article-summary label {
  display: block;
  font-size: 0.4693333333rem;
  color: #666666;
  float: right;
  font-weight: normal; }

/*首页_会员服务-会员企业风采-详细内容结束*/
/*首页_会员中心开始*/
.hyzx-mid-nav a {
  width: 4rem; }

/*首页_会员中心开始*/
/*首页_品牌推介开始*/
.pptj-lists li {
  padding: 0.64rem 0;
  border-bottom: 1px solid #dcdddd; }

.pptj-lists li:last-child {
  border-bottom: none; }

.pptj-lists {
  padding-bottom: 1.0666666667rem;
  padding-top: 0.4266666667rem;
  width: 15.1466666667rem;
  margin: auto; }

.pptj-left {
  margin-right: 0.5973333333rem;
  width: 7.0613333333rem;
  height: 3.3706666667rem;
  overflow: hidden;
  float: left; }

.pptj-left img {
  width: 7.0613333333rem;
  height: 3.3706666667rem; }

.pptj-right {
  float: left;
  width: 7.4666666667rem;
  height: 3.3706666667rem; }

.pptj-right-title {
  padding-bottom: 0.2133333333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.64rem;
  color: #333333; }

.pptj-right-summary {
  font-size: 0.512rem;
  color: #666666;
  line-height: 0.768rem;
  padding-bottom: 0.2133333333rem;
  height: 1.4506666667rem;
  overflow: hidden; }

.pptj-right-date {
  font-size: 0.4693333333rem;
  color: #666666; }

.pptj-right-date span {
  float: right; }

/*首页_品牌推介结束*/
/*首页_人才服务开始*/
.rcfw-mid-nav a {
  width: 5.3333333333rem; }

/*首页_人才服务结束*/
/*首页_专业委员会开始*/
.zywyh-lists {
  width: 15.1466666667rem;
  padding: 0.64rem 0;
  margin: auto; }

.zywyh-lists li img {
  width: 15.1466666667rem;
  display: block; }

.zywyh-lists-title {
  padding-top: 0.4266666667rem;
  line-height: 0.9813333333rem;
  font-weight: bold;
  font-size: 0.64rem;
  color: #333333; }

.zywyh-lists-title span {
  font-weight: normal;
  font-size: 0.5546666667rem;
  color: #666666; }

.zywyh-lists-a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #2fbbe3;
  font-size: 0.512rem;
  line-height: 0.9813333333rem;
  padding-bottom: 0.4266666667rem; }

/*首页_专业委员会结束*/
/*导航样式开始*/
.right-nav-content {
  width: 8.5333333333rem;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 999999;
  overflow: auto; }

.right-nav-title {
  padding-left: 1.28rem;
  width: 7.2533333333rem;
  height: 1.8773333333rem;
  line-height: 1.8773333333rem;
  background: #2fbbe3;
  font-size: 0.768rem;
  color: #ffffff; }

.right-nav-title span {
  padding-left: 0.1706666667rem;
  font-size: 0.4266666667rem; }

.right-nav-close {
  position: absolute;
  right: 0.4266666667rem;
  top: 0.5546666667rem;
  width: 0.7466666667rem;
  height: 0.7466666667rem;
  background: url("../images/right_nav_close.png") 0 0/0.7466666667rem 0.7466666667rem no-repeat; }

.right-nav-lists {
  padding-left: 1.28rem; }

.right-nav-lists > li {
  font-size: 0.6826666667rem;
  color: #ffffff;
  border-bottom: 1px solid #595a5a;
  line-height: 2.1333333333rem; }

.right-nav-lists > li:last-child {
  border-bottom: none; }

.right-nav-lists > li > ul.on {
  display: block; }

.right-nav-lists > li > ul {
  display: none;
  padding-left: 0.64rem; }

.right-nav-lists > li > ul > li {
  position: relative;
  height: 1.4933333333rem;
  line-height: 1.4933333333rem;
  color: #cfcfcf;
  font-size: 0.64rem; }

.right-nav-lists > li > ul > li:after {
  content: " ";
  width: 0.2133333333rem;
  height: 0.256rem;
  background: url("../images/li_icon.png") 0 0/0.2133333333rem 0.256rem no-repeat;
  position: absolute;
  right: 0.4266666667rem;
  top: 0.6613333333rem; }

.qrcode {
  width: 4.4373333333rem;
  font-size: 0.5973333333rem;
  color: #ffffff;
  text-align: center;
  margin: 0.4266666667rem auto;
  line-height: 1.024rem; }

.qrcode img {
  width: 4.4373333333rem; }

/*导航样式结束*/
/*分页开始*/
.pagination {
  padding: 0.256rem 0 0.8533333333rem 0;
  text-align: center; }

.pagination li {
  display: inline;
  padding: 0.128rem 0.256rem;
  font-size: 0.4266666667rem;
  color: #999999;
  border-radius: 5px;
  border: 1px solid #999999;
  margin: 0.1066666667rem; }

.pagination li.on {
  color: #ffffff;
  background: #2fbbe3;
  border-color: #2fbbe3; }

/*分页结束*/

/*# sourceMappingURL=smMobile.css.map */
