@charset "utf-8";
@import '../js/hotcss/px2rem';
body{
  width: 16rem;
  margin: 0 auto;
  padding: 0;
}
/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1;
}
.font_yahei{
  font-family: "Microsoft YaHei";
}

/*首页开始*/
.sm-header{
  position: fixed;
  top:0;
  left: 50%;
  margin-left: px2rem(-375);
  z-index: 999999;
  font-size: px2rem(26);
  color: #ffffff;
  font-weight: lighter;
  line-height: px2rem(88);
  padding-left: px2rem(108);
  width:px2rem(642);
  height:px2rem(88);
  background:#333333 url("../images/logo.png") px2rem(20) px2rem(12)/px2rem(80) px2rem(64) no-repeat;
}
.right-nav{
  cursor: pointer;
  width:px2rem(88);
  height:px2rem(88);
  position: absolute;
  right:0;
  top: 0;
  background: url("../images/right_nav.png") center center/px2rem(44) px2rem(32) no-repeat;
}
.sm-news{
  padding-top: px2rem(60);
  padding-bottom: px2rem(30);
  border-bottom: px2rem(10) solid #efefef;
}

.sm-title{
  padding-left: px2rem(20);
  font-size: px2rem(36);
  font-weight: bold;
  color: #333333;
  position: relative;
}
.sm-title:before{
  content: " ";
  width:px2rem(8);
  background: #2fbbe3;
  height:px2rem(34);
  position: absolute;
  left:0;
  top:px2rem(7);
}
.sm-title a{
  position: absolute;
  top:0;
  right:px2rem(20);
  font-size: px2rem(24);
  color: #2fb8df;
}
.news-swiper ,.match-swiper,.talent-swiper,.member-swiper{
  margin: auto;
  width:px2rem(710);
}
.news-swiper .swiper-pagination,.match-swiper .swiper-pagination,.talent-swiper .swiper-pagination,.member-swiper .swiper-pagination,.fzlc-swiper .swiper-pagination{
  padding-top: px2rem(5);
  padding-bottom: px2rem(20);
  position:static;
  text-align: left;
}
.fzlc-swiper .swiper-pagination{
  text-align: center;
  padding-bottom: px2rem(40);
}
.fzlc-swiper .swiper-pagination-bullet{
  width:px2rem(87) !important;
  height:px2rem(38) !important;
  color: #666666 !important;
  background: transparent !important;
}
.news-swiper .swiper-pagination-bullet,.match-swiper .swiper-pagination-bullet,.talent-swiper .swiper-pagination-bullet,.member-swiper .swiper-pagination-bullet,.fzlc-swiper .swiper-pagination-bullet{
  outline: none;
  text-align: center;
  width:px2rem(130);
  height:px2rem(42);
  font-size: px2rem(24);
  border-radius: 24px;
  line-height: px2rem(42);
  color: #999999;
  background: #ffffff;
  opacity:1;
}
.news-swiper .swiper-pagination-bullet-active,.match-swiper .swiper-pagination-bullet-active,.talent-swiper .swiper-pagination-bullet-active,.member-swiper .swiper-pagination-bullet-active,.fzlc-swiper .swiper-pagination-bullet-active{
  background: #2fbbe3 !important;
  color: #ffffff !important;
}
.news-top-left{
  float: left;
  width:px2rem(300);
  height:px2rem(144);
  overflow: hidden;
  padding-right: px2rem(20);
}
.news-top-left img{
  width:px2rem(300);
}
.news-top-right{
  line-height:px2rem(36) ;
  height:px2rem(144);
  width:px2rem(390);
  float: left;
}
.news-swiper{
  width:px2rem(710);
  margin:auto;
}
.news-top-right .news-title{
  font-size: px2rem(24);
  color: #333333;
}
.news-top-right .news-summary{
  font-size: px2rem(24);
  color: #999999;
}
.news-lists{
  padding-top: px2rem(20);
}
.news-lists li{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: px2rem(50);
  font-size: px2rem(24);
  color: #333333;
  padding-left: px2rem(18);
  background: url("../images/spot.png") 0 px2rem(21) /px2rem(8) px2rem(8) no-repeat;
}
.sm-match{
  border-bottom: none;
}
.sm-association{
  margin-top: px2rem(50);
  position: relative;
  padding: 0 px2rem(415) px2rem(40) px2rem(20);
  background: #333333;
}
.association-title-cn{
  padding-top: px2rem(45);
   font-size: px2rem(36);
   color: #ffffff;
 }
.association-title-en{
  font-size: px2rem(20);
  color: #999999;
  padding-bottom: px2rem(26);
}
.association-summary{
  font-size: px2rem(24);
  color: #999999;
  text-align:justify;
  line-height: px2rem(39);
}
.association-btn{
  width:px2rem(163);
  height:px2rem(59);
  border: 1px solid #2fbbe3;
  border-radius: 5px;
  font-size: px2rem(24);
  color: #2fbbe3;
  display: block;
  line-height: px2rem(59);
  text-align: center;
  margin-top: px2rem(40);
}
.association-img{
  position: absolute;
  top:px2rem(-50);
  right:px2rem(20);
  width:px2rem(356);
  height:px2rem(533);
}
.association-img img{
  width:px2rem(356);
  height:px2rem(533);
}
.list-left{
  padding-right: px2rem(20);
  width:px2rem(210);
  height:px2rem(157);
  float: left;
}
.list-right{
  width:px2rem(490);
  height:px2rem(157);
  float: left;
}
.list-left img{
  width:px2rem(210);
}
.product-list li{
  margin-top: px2rem(30);
}
.product-list{
  padding-bottom: px2rem(20);
}
.list-right-title{
  font-size: px2rem(30);
  color: #333333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
}
.list-right-summary{
  font-size: px2rem(24);
  color: #999999;
}
.member-lists{
  padding-bottom: px2rem(20);
}
.member-lists li{
  float: left;
  width:px2rem(347);
  margin-right: px2rem(16);
}
.member-lists li:nth-child(2){
  margin-right: 0;
}
.member-lists li img{
  display: block;
  width:px2rem(347);
}
.member-title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  padding-top: px2rem(10);
  line-height: px2rem(52);
  font-size: px2rem(26);
  color: #333333;
}
.member-summary{
  line-height: px2rem(39);
  font-size: px2rem(24);
  color: #999999;
}
.committee-lists{
  width:px2rem(710);
  margin: auto;
}
.committee-lists > li{
  width:px2rem(710);
  height:px2rem(526);
  position: relative;
  margin-top: px2rem(29);
}
.committee-lists > li img{
  width:px2rem(710);
  height:px2rem(526);
}
.committee-lists-content{
  position: absolute;
  bottom:0;
  left:0;
  background: rgba(0,0,0,0.5);
  width:px2rem(710);
  height:px2rem(196);
}
.committee-lists-title{
  padding-top: px2rem(30);
  text-align: center;
  color: #b5b6b5;
  font-size: px2rem(20);
}
.committee-lists-title span{
  color: #ffffff;
  font-size: px2rem(30);
}
.committee-lists1{
  padding: px2rem(12) px2rem(35) 0;
}
.committee-lists1  li{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  line-height: px2rem(40);
  font-size: px2rem(24);
  color: #ffffff;
  padding-left: px2rem(22);
  background: url("../images/spot.png") 0 px2rem(16) /px2rem(8) px2rem(8) no-repeat;
}
.talent-lists{
  padding-bottom: px2rem(20);
  width:px2rem(710);
  margin: auto;
}
.talent-lists li{
  padding-top: px2rem(15);
  padding-bottom: px2rem(25);
  border-bottom: 1px solid #dcdddd;
  font-size: px2rem(24);
  color: #999999;
  background: url("../images/triangle.png") right center / px2rem(15) px2rem(16) no-repeat;
}
.talent-lists li .talent-title{
  color: #333333;
  line-height: px2rem(48);
}
.sm-footer{
  padding: px2rem(20) 0;
  text-align: center;
  width: px2rem(750);
  background: #dcdddd;
  font-size: px2rem(20);
  color: #999999;
}
/*首页结束*/

/*首页_产品与服务开始*/
.cpfw-img{
  width:px2rem(750);
  display: block;
}
.cpfw-lists{
  padding-bottom: px2rem(50);
  width:px2rem(710);
  margin: auto;
}
.cpfw-lists li{
  padding-top: px2rem(30);
}
.cpfw-lists li img,.cpfw-detail img{
  width:px2rem(710);
  display: block;
}
.cpfw-lists li span,.cpfw-detail span{
  display: block;
  text-indent: 2em;
  font-size: px2rem(24);
  color: #333333;
  line-height: px2rem(38);
  padding-bottom: px2rem(35);
}
.cpfw-title{
  padding-bottom: px2rem(20);
  padding-top: px2rem(28);
  text-align: center;
  color: #333333;
  font-size: px2rem(30);
  font-weight: bold;
}
.cpfw-btn{
  width:px2rem(163);
  height:px2rem(58);
  border-radius: 5px;
  border:1px solid #2fbbe3;
  color: #2fbbe3;
  font-size: px2rem(24);
  display: block;
  line-height: px2rem(58);
  text-align: center;
  margin: auto;
}
/*首页_产品与服务结束*/

/*首页_产品与服务_产品详情开始*/
.cpfw-detail{
  padding-top: px2rem(30);
  width:px2rem(710);
  margin: auto;
}
/*首页_产品与服务_产品详情结束*/

/*首页_关于我们-发展历程开始*/
.sm-mid-nav{
  white-space: nowrap;
  overflow-x: auto;
  width:px2rem(750);
  box-shadow:0px 4px 10px #cacaca;
  overflow-y: hidden;
}
.sm-mid-nav::-webkit-scrollbar {display:none}
.sm-mid-nav a{
  text-align: center;
  font-size: px2rem(28);
  color: #333333;
  display: inline-block;
  width:px2rem(200);
  height:px2rem(50);
  border-bottom: px2rem(5) solid #ffffff;
}
.sm-mid-nav a.on{
  font-weight: bold;
  color: #2fbbe3;
  border-bottom: px2rem(5) solid #2fbbe3;
}
.fzlc-swiper{
  width:px2rem(710);
  padding:0 px2rem(20);
  background: url("../images/fzlcbg.png") center center /cover ;
}
.fzlc-swiper .swiper-slide .fzlc-list{
 /* height:px2rem(955);
  overflow-y: auto;*/
}
.fzlc-introduction{
  font-size: px2rem(22);
  color: #333333;
  float: left;
  width:px2rem(250);
}
.fzlc-date{
  font-size: px2rem(22);
  color: #333333;
  float: left;
  width:px2rem(220);
  position: relative;
  bottom: px2rem(12);
  margin-left: px2rem(30);
}
.fzlc-swiper .swiper-slide .fzlc-list li{
  position: relative;
  padding-top: px2rem(12);
  width:px2rem(570);
  margin: auto;
  padding-bottom: px2rem(42);
}
.fzlc-date span{
  margin-left: px2rem(50);
  display: inline-block;
  width:px2rem(90);
  line-height: px2rem(36);
  height:px2rem(36);
  font-weight: bold;
  border: 1px dashed #333333;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
.fzlc-date span:before{
  content: " ";
  border-bottom: 1px dashed #585859;
  width:px2rem(22);
  position: absolute;
  left:px2rem(-26);
  top:px2rem(18);
}
.fzlc-date span:after{
  content: " ";
  width:px2rem(9);
  height:px2rem(11);
  position: absolute;
  left:px2rem(-37);
  top:px2rem(13);
  background: url("../images/date-left.png") 0 0 /px2rem(9) px2rem(11) no-repeat;
}
.fzlc-line-spot{
  width:px2rem(15);
  height:px2rem(15);
  border-radius: 100px;
  background: #000000;
  position: absolute;
  top:px2rem(12);
  left:px2rem(277);
}
.fzlc-line-dotted{
  position: absolute;
  top:px2rem(27);
  left:px2rem(284);
  height:100%;
  border-right: 1px dashed #333333;
}
.date-left .fzlc-date span:before {
  left:  px2rem(96);
}

.date-left .fzlc-date span:after {
  left: px2rem(114);
  background-image: url(../images/data-right.png);
}
.date-left .fzlc-date{
  text-align: right;
  margin-left: px2rem(24);
}
.date-left .fzlc-introduction{
  float: right;
}
.fzlc-swiper-ctrl{
  position: relative;
  height:px2rem(42);
  top:px2rem(42);
}
.fzlc-swiper-ctrl .swiper-button-next,.fzlc-swiper-ctrl .swiper-button-prev{
  top:0;
  margin-top: 0;
}
.fzlc-swiper-ctrl .swiper-button-prev,.fzlc-swiper-ctrl  .swiper-container-rtl .swiper-button-next{
  background-image:url(../images/ctrl-left.png);
}
.fzlc-swiper-ctrl .swiper-button-next, .fzlc-swiper-ctrl .swiper-container-rtl .swiper-button-prev{
  background-image:url(../images/ctrl-right.png);
}
.fzlc-swiper-ctrl .swiper-button-next,.fzlc-swiper-ctrl .swiper-button-prev{
  width:px2rem(42);
  height:px2rem(42);
  background-size: px2rem(42) px2rem(42);
}
/*首页_关于我们-发展历程结束*/

/*首页_关于我们-加入我们开始*/
.jrwm-lists li{
  background: none;
}
.jrwm-lists li span{
  float: right;
}
.yghd-lists{
  width:px2rem(710);
  margin: auto;
  padding-top: px2rem(30);
}
.yghd-lists li{
  margin-right: px2rem(30);
  width:px2rem(330);
  float: left;
  margin-bottom: px2rem(30);
}
.yghd-lists li:nth-child(2n){
  margin-right: 0;
}
.yghd-lists-top{
  width:px2rem(330);
  height:px2rem(220);
  position: relative;
  overflow: hidden;
}
.yghd-lists-top img{
  width:px2rem(330);
  height:px2rem(220);
}
.yghd-lists-bottom{
  width:px2rem(330);
  font-size: px2rem(22);
  color: #666666;
  line-height: px2rem(38);
  padding-top: px2rem(20);
}
.yghd-hide{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: rgba(0,0,0,0.5);
  height:px2rem(60);
  width:px2rem(330);
  position: absolute;
  bottom:0;
  left:0;
  font-size: px2rem(26);
  color: #ffffff;
  text-align: center;
  line-height: px2rem(60);
}
.sm-yghd{
  padding-top: px2rem(30);
  background: #eeeff1;
}
.sm-yghd-title{
  width:px2rem(690);
  margin: auto;
}
.gbhj-lists-bottom{
  height:px2rem(60);
  line-height: px2rem(60);
  color: #333333;
  background: #ffffff;
  font-size: px2rem(26);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gbhj-lists li{
  box-shadow:0px 4px 10px #bbbbbb;
}
/*首页_关于我们-加入我们结束*/

/*首页_关于我们-联系我们开始*/
.lxwm-map{
  width:px2rem(710);
  margin:px2rem(40) auto;
  border:1px solid #999999;
  padding: px2rem(15) 0;
}
#sm-map{
  width:px2rem(680);
  margin: auto;
  height:px2rem(294);
}
.lxwm-title{
  font-size: px2rem(26);
  font-weight: bold;
  color: #333333;
  width:px2rem(560);
  margin: auto;
  padding-bottom: px2rem(20);
}
.lxwm-lists{
  width:px2rem(560);
  margin: auto;
}
.lxwm-lists li{
  font-size:px2rem(22);
  color: #666666;
  line-height: px2rem(36);
}
.icon-1{
  width:px2rem(20);
  height:px2rem(23);
  margin: 0 px2rem(16) 0 0 ;
  position: relative;
  top:px2rem(3);
  display: inline-block;
  background: url("../images/icon1.png") 0 0 /px2rem(20) px2rem(23) no-repeat;
}
.icon-2{
  width:px2rem(20);
  height:px2rem(23);
  margin: 0 px2rem(16) 0 0 ;
  position: relative;
  top:px2rem(3);
  display: inline-block;
  background: url("../images/icon2.png") 0 0 /px2rem(20) px2rem(23) no-repeat;
}
.icon-3{
  width:px2rem(20);
  height:px2rem(23);
  margin: 0 px2rem(16) 0 0 ;
  position: relative;
  top:px2rem(3);
  display: inline-block;
  background: url("../images/icon3.png") 0 0 /px2rem(20) px2rem(23) no-repeat;
}
.icon-4{
  width:px2rem(20);
  height:px2rem(23);
  margin: 0 px2rem(16) 0 0 ;
  position: relative;
  top:px2rem(3);
  display: inline-block;
  background: url("../images/icon4.png") 0 0 /px2rem(20) px2rem(23) no-repeat;
}
.icon-5{
  width:px2rem(20);
  height:px2rem(23);
  margin: 0 px2rem(16) 0 0 ;
  position: relative;
  top:px2rem(3);
  display: inline-block;
  background: url("../images/icon5.png") 0 0 /px2rem(20) px2rem(23) no-repeat;
}
.icon-6{
  width:px2rem(20);
  height:px2rem(23);
  margin: 0 px2rem(16) 0 0 ;
  position: relative;
  top:px2rem(3);
  display: inline-block;
  background: url("../images/icon6.png") 0 0 /px2rem(20) px2rem(23) no-repeat;
}
.lxwm-form{
  width:px2rem(560);
  margin:px2rem(12) auto ;
}
.input-group{
  border-radius:5px ;
  position: relative;
  width:px2rem(506);
  height:px2rem(68);
  border: 1px solid #666666;
  margin-bottom: px2rem(20);
}
.input-group label,.text-group label{
  position: absolute;
  top:0;
  left:0;
  display: block;
  width:px2rem(90);
  height:px2rem(68);
  line-height: px2rem(68);
  font-size: px2rem(20);
  font-weight: bold;
  color: #666666;
  text-align: center;
}
.input-group input{
  display: block;
  font-size: px2rem(20);
  color: #666666;
  border:none;
  background: transparent;
  outline: none;
  padding-left: px2rem(90);
  width:px2rem(416);
  height:px2rem(68);
}
.text-group{
  border-radius:5px ;
  position: relative;
  width:px2rem(506);
  height:px2rem(325);
  border: 1px solid #666666;
  margin-bottom: px2rem(20);
}
.text-group textarea{
  display: block;
  font-size: px2rem(20);
  color: #666666;
  border:none;
  background: transparent;
  outline: none;
  width:px2rem(394);
  height:px2rem(281);
  padding: px2rem(22) px2rem(22) px2rem(22) px2rem(90);
}
.lxwm-form-btn{
  width:px2rem(506);
  height:px2rem(70);
  display: block;
  background: #2fbbe3;
  color: #ffffff;
  font-size: px2rem(30);
  font-weight: bold;
  line-height: px2rem(70);
  text-align: center;
  border-radius: 5px;
  margin-bottom: px2rem(58);
}
/*首页_关于我们-联系我们结束*/

/*首页_关于我们-协会简介开始*/
.xhjj{
  position: relative;
  width:px2rem(710);
  height:px2rem(250);
  margin: px2rem(28) auto 0;
  background: url("../images/xhjj1.png") 0 0 / px2rem(710) px2rem(250) no-repeat;
}
.xhjj-font{
  position: absolute;
  font-size:px2rem(20);
  color: #b0afb0;
  top:px2rem(85);
}
.xhjj-font label{
  font-size:px2rem(18);
  color: #ffffff;
}
.xhjj-font span{
  font-size:px2rem(36);
  color: #ffffff;
  font-weight: bold;
}
.xhjj-1{
  left:px2rem(22);
}
.xhjj-2{
  left:px2rem(190);
}
.xhjj-3{
  left:px2rem(320);
}
.xhjj-4{
  left:px2rem(462);
}
.xhjj-5{
  left:px2rem(600);
}
.xhjj-contnet{
  width:px2rem(710);
  height:px2rem(394);
  margin: auto;
  position: relative;
  bottom:px2rem(50);
  background: url("../images/xhjj2.png") 0 0 /px2rem(710) px2rem(394) no-repeat;
}
.xhjj-contnet-inside{
  text-indent: 2em;
  position: absolute;
  bottom: px2rem(25);
  right:px2rem(25);
  width:px2rem(370);
  font-size: px2rem(20);
  color: #333333;
  line-height: px2rem(35);
}
.xhjj-contnet-rticle{
  width:px2rem(710);
  margin: auto;
}
.xhjj-contnet-rticle img{
 max-width:px2rem(710);
}
/*首页_关于我们-协会简介结束*/

/*首页_关于我们-专家委员会开始*/
.zjwyh-lists{
  width: px2rem(710);
  margin:px2rem(32) auto;
}
.zjwyh-lists li{
  float: left;
  width:px2rem(345);
  box-shadow:0px 4px 10px #bebebe;
  margin-right: px2rem(20);
  margin-bottom: px2rem(20);
}
.zjwyh-lists li:nth-child(2n){
  margin-right:0;
}
.zjwyh-lists li img{
  display: block;
  height:px2rem(238);
  width:px2rem(345);

}
.zj-name{
  margin-top: px2rem(14);
  padding-left: px2rem(20);
  border-left: px2rem(6) solid #2fbbe3;
  font-size: px2rem(30);
  font-weight: bold;
  color: #030303;
}
.zj-name span,.zj-summary{
  font-size: px2rem(24);
  font-weight: normal;
  color: #333333;
  padding-left: px2rem(20);
}
.zj-summary{
  padding-top: px2rem(20);
  line-height:px2rem(38);
}
.zj-btn{
  display: block;
  width:px2rem(163);
  height:px2rem(58);
  line-height: px2rem(58);
  font-size: px2rem(24);
  text-align: center;
  border-radius: 5px;
  border:1px solid #2fbbe3;
  color: #2fbbe3;
  margin:px2rem(32) auto;
}
/*首页_关于我们-专家委员会结束*/

/*首页_会员服务-会员企业风采开始*/

.hyfc-mid-nav a{
  width:px2rem(375);
}
.hy-name{
  border-left: none;
  text-align: center;
}
/*首页_会员服务-会员企业风采结束*/

/*首页_会员服务-会员企业风采-详细内容开始*/
.hyfc-article-title{
  padding-top: px2rem(30);
  width:px2rem(710);
  height: px2rem(100);
  margin: auto;
}
.hyfc-article-title{
  font-size: px2rem(30);
  font-weight: bold;
  color: #333333;
}
.hyfc-article-summary{
  padding-bottom: px2rem(12);
  padding-top: px2rem(5);
  border-bottom: 1px solid #dcdddd;
}
.hyfc-article-summary span{
  font-size: px2rem(24);
  color: #333333;
  width:px2rem(450);
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
}
.hyfc-article-summary label{
  display: block;
  font-size: px2rem(22);
  color: #666666;
  float: right;
  font-weight: normal;
}
/*首页_会员服务-会员企业风采-详细内容结束*/

/*首页_会员中心开始*/
.hyzx-mid-nav a{
  width:px2rem(187.5);
}
/*首页_会员中心开始*/

/*首页_品牌推介开始*/
.pptj-lists li{
  padding: px2rem(30) 0;
  border-bottom: 1px solid #dcdddd;
}
.pptj-lists li:last-child{
  border-bottom:none;
}
.pptj-lists{
  padding-bottom: px2rem(50);
  padding-top: px2rem(20);
  width:px2rem(710);
  margin: auto;
}
.pptj-left{
  margin-right: px2rem(28);
  width:px2rem(331);
  height:px2rem(158);
  overflow: hidden;
  float: left;
}
.pptj-left img{
  width:px2rem(331);
  height:px2rem(158);
}
.pptj-right{
  float: left;
  width:px2rem(350);
  height:px2rem(158);
}
.pptj-right-title{
  padding-bottom: px2rem(10);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size:px2rem(30);
  color: #333333;
}
.pptj-right-summary{
  font-size:px2rem(24);
  color: #666666;
  line-height: px2rem(36);
  padding-bottom: px2rem(10);
  height:px2rem(68);
  overflow: hidden;
}
.pptj-right-date{
  font-size:px2rem(22);
  color: #666666;
}
.pptj-right-date span{
  float: right;
}
/*首页_品牌推介结束*/

/*首页_人才服务开始*/
.rcfw-mid-nav a {
  width: px2rem(250);
}
/*首页_人才服务结束*/

/*首页_专业委员会开始*/
.zywyh-lists{
  width:px2rem(710);
  padding: px2rem(30) 0;
  margin: auto;
}
.zywyh-lists li img{
  width:px2rem(710);
  display: block;
}
.zywyh-lists-title{
  padding-top: px2rem(20);
  line-height: px2rem(46);
  font-weight: bold;
  font-size: px2rem(30);
  color: #333333;
}
.zywyh-lists-title span{
  font-weight: normal;
  font-size: px2rem(26);
  color: #666666;
}
.zywyh-lists-a{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  color: #2fbbe3;
  font-size: px2rem(24);
  line-height: px2rem(46);
  padding-bottom: px2rem(20);
}
/*首页_专业委员会结束*/


/*导航样式开始*/
.right-nav-content{
  width:px2rem(400);
  background: rgba(0,0,0,0.9);
  height: 100%;
  position: fixed;
  top:0;
  right:-100%;
  z-index: 999999;
  overflow: auto;
}
.right-nav-title{
  padding-left: px2rem(60);
  width:px2rem(340);
  height:px2rem(88);
  line-height: px2rem(88);
  background: #2fbbe3;
  font-size: px2rem(36);
  color: #ffffff;
}

.right-nav-title span{
  padding-left: px2rem(8);
  font-size: px2rem(20);
}
.right-nav-close{
  position: absolute;
  right:px2rem(20);
  top:px2rem(26);
  width: px2rem(35);
  height:px2rem(35);
  background: url("../images/right_nav_close.png") 0 0 /px2rem(35) px2rem(35) no-repeat;
}
.right-nav-lists{
  padding-left: px2rem(60);
}
.right-nav-lists > li{
  font-size: px2rem(32);
  color: #ffffff;
  border-bottom: 1px solid #595a5a;
  line-height: px2rem(100);
}
.right-nav-lists > li:last-child{
  border-bottom: none;
}
.right-nav-lists > li > ul.on{
   display: block;
}
.right-nav-lists > li > ul{
  display: none;
  padding-left: px2rem(30);
}
.right-nav-lists > li > ul > li{
  position: relative;
  height:px2rem(70);
  line-height: px2rem(70);
  color: #cfcfcf;
  font-size: px2rem(30);
}
.right-nav-lists > li > ul > li:after{
  content: " ";
  width:px2rem(10);
  height:px2rem(12);
  background: url("../images/li_icon.png") 0 0/px2rem(10) px2rem(12) no-repeat;
  position: absolute;
  right:px2rem(20);
  top:px2rem(31);
}
.qrcode{
  width:px2rem(208);
  font-size: px2rem(28);
  color: #ffffff;
  text-align: center;
  margin:px2rem(20) auto;
  line-height: px2rem(48);
}
.qrcode img{
  width:px2rem(208);
}
/*导航样式结束*/

/*分页开始*/
.pagination{
  padding: px2rem(12) 0 px2rem(40) 0;
  text-align: center;
}
.pagination li{
 display: inline;
  padding: px2rem(6) px2rem(12);
  font-size: px2rem(20);
  color: #999999;
  border-radius: 5px;
  border: 1px solid #999999;
  margin: px2rem(5);
}
.pagination li.on{
  color: #ffffff;
  background: #2fbbe3;
  border-color: #2fbbe3;
}
/*分页结束*/
