<!DOCTYPE html>
<html lang="en">
<head>
    <title>首页_产品与服务_产品详情-商美</title>
    <meta charset = "utf-8">
    <!--在 web app 应用下状态条（屏幕顶部条）的颜色；(改变顶部状态条的颜色)-->
    <!--默认值为 default（白色），可以定为 black（黑色）和 black-translucent（灰色半透明）；-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!--http-equiv="Content-Type" 表示描述文档类型-->
    <!--HTTP-EQUIV类似于HTTP的头部协议，它回应给浏览器一些有用的信息，以帮助正确和精确地显示网页内容-->
    <meta http-equiv="Content-Type" content="text/html">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!--使用了application这种应用模式后，页面讲默认全屏，禁止长按菜单，禁止收拾，标准排版，以及强制图片显示。-->
    <!--应用模式-->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <!--设置屏幕方向-->
    <meta name="x5-orientation" content="portrait">
    <!--设置全屏-->
    <meta name="x5-fullscreen" content="true">
    <!--设置屏幕模式-->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!--<meta name="hotcss" content="design-width=750,max-width=750,initial-dpr=1"/>-->
    <meta name="hotcss" content="design-width=750,max-width=750,initial-dpr=1"/>
    <link rel="stylesheet" href="../assets/css/smMobile.css">
    <link rel="stylesheet" href="../assets/js/swiper/swiper.min.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/hotcss/hotcss.js"></script>
    <script src="../assets/js/swiper/swiper.min.js"></script>


</head>
<body class="font_yahei">

<!--头部开始-->
<div class="sm-header">
    深圳市商业美术设计促进会
    <div class="right-nav">

    </div>
</div>
<!--头部结束-->

<!--内容开始-->
<div class="cpfw-detail">
    <img src="../assets/images/cpfw1.png"/>
    <div class="cpfw-title">职业技能</div>
    <span>
　如今物价一直飙升，若是没有一份高薪的工作生活确实很困难，但是企业并不看重学历，现在的求职者只要像上海北大青鸟交大校区学员那样具有技能、经验和职业素养，就能够找到一份自己满意的工作。
淘宝网创立于2003年，是以商务为导向的社交平台，通过大数据分析为消费者提供既有参与感又个性化的购物体验。在淘宝网上，消费者能够从商家处获取高度相关、具吸引力的内容及实时更新，从而掌握产品与潮流资讯并与其他消费者或喜爱的商家和品牌互动。平台上的商家主要是个体户和小企业。根据艾瑞咨询基于2016年商品交易额（GMV）的统计，淘宝网是中国最大的移动商务平台。淘宝网为阿里巴巴集团旗下业务。
淘宝网是亚太地区较大的网络零售、商圈，由阿里巴巴集团在2003年5月创立。淘宝网是中国深受欢迎的网购零售平台，拥有近5亿的注册用户数，每天有超过6000万的固定访客，同时每天的在线商品数已经超过了8亿件，平均每分钟售出4.8万件商品。截止2011年年底，淘宝网单日交易额峰值达到43.8亿元，创造270.8万直接且充分就业机会。随着规模的扩大和用户数量的增加，淘宝也从单一的C2C网络集市变成了包括C2C、团购、分销、拍卖等多种电子商务模式在内的综合性零售商圈。目前已经成为世界范围的电子商务交易平台之一。
如今物价一直飙升，若是没有一份高薪的工作生活确实很困难，直接且充分就业机会。随着规模的扩大和用户数量的增加，淘宝也从单一的C2C网络集但是企业并不看重学历，现在的求职者只要像上海北大青鸟交大校区学员那样具有技能、经验和职业素养。
    </span>
</div>


<!--内容开始-->

<!--底部开始-->
<div class="sm-footer">
    Copyright © 2000 - 2018<br>
    http://www.m.szcadpa.com. All Rights Reserved<br>
    粤ICP备16047647号-1
</div>
<!--底部结束-->

</body>
</html>