<!DOCTYPE html>
<html lang="en">
<head>
    <title>首页-商美</title>
    <meta charset = "utf-8">
    <!--在 web app 应用下状态条（屏幕顶部条）的颜色；(改变顶部状态条的颜色)-->
    <!--默认值为 default（白色），可以定为 black（黑色）和 black-translucent（灰色半透明）；-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!--http-equiv="Content-Type" 表示描述文档类型-->
    <!--HTTP-EQUIV类似于HTTP的头部协议，它回应给浏览器一些有用的信息，以帮助正确和精确地显示网页内容-->
    <meta http-equiv="Content-Type" content="text/html">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!--使用了application这种应用模式后，页面讲默认全屏，禁止长按菜单，禁止收拾，标准排版，以及强制图片显示。-->
    <!--应用模式-->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <!--设置屏幕方向-->
    <meta name="x5-orientation" content="portrait">
    <!--设置全屏-->
    <meta name="x5-fullscreen" content="true">
    <!--设置屏幕模式-->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!--<meta name="hotcss" content="design-width=750,max-width=750,initial-dpr=1"/>-->
    <meta name="hotcss" content="design-width=750,max-width=750,initial-dpr=1"/>
    <link rel="stylesheet" href="../assets/css/smMobile.css">
    <link rel="stylesheet" href="../assets/js/swiper/swiper.min.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/hotcss/hotcss.js"></script>
    <script src="../assets/js/swiper/swiper.min.js"></script>
    <script src="../assets/js/sm.js"></script>


</head>
<body class="font_yahei">

<!--头部开始-->
<div class="sm-header">
    深圳市商业美术设计促进会
    <div class="right-nav">

    </div>
</div>
<!--头部结束-->

<!--右侧导航开始-->
<div class="right-nav-content">
    <div class="right-nav-title">
        导航<span>MENU</span>
    </div>
    <div class="right-nav-close"></div>

    <ul class="right-nav-lists">
        <li>
            <a>官方首页</a>
        </li>
        <li>
            <a> 资讯动态</a>
            <ul class="on">
                <li>
                    <a> 协会公告</a>
                </li>
                <li>
                    <a> 行业动态</a>
                </li>
            </ul>
        </li>
        <li>
            <a>关于我们</a>
        </li>
        <li>
            <a> 产品与服务</a>
        </li>
        <li>
            <a>会员风采</a>

            <ul>
                <li>
                    <a>人才服务</a>
                </li>
                <li>
                    <a>会员服务</a>
                </li>
                <li>
                    <a>会员中心</a>
                </li>
            </ul>
        </li>
        <li>
            <a>品牌推荐</a>
        </li>
    </ul>

    <div class="qrcode">
        <img src="../assets/images/qrcode.png" />
        关注商美
    </div>
</div>
<!--右侧导航结束-->

<!--banner开始-->
<div class="sm-banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img width="100%" src="../assets/images/banner.png"></div>
            <div class="swiper-slide"><img width="100%"  src="../assets/images/banner1.png"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <script>
        var bannerSwiper = new Swiper('.sm-banner .swiper-container', {
            autoplay: true,//可选选项，自动滑动
            loop : true,
            pagination: {
                el: '.sm-banner .swiper-pagination',
            },
        })
    </script>
</div>

<!--banner结束-->

<!--资讯动态开始-->
<div class="sm-news">
    <div class="sm-title">
        资讯动态
        <a>更多 ></a>
    </div>
    <div class="news-swiper">
        <div class="swiper-pagination"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="clearfix">
                        <div class="news-top-left">
                            <img src="../assets/images/news.png">
                        </div>
                        <div class="news-top-right">
                            <div class="news-title">
                                重磅！2017年交互界面（UI）设计职 业技能...
                            </div>
                            <div class="news-summary">
                                在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位...
                            </div>
                        </div>
                    </div>
                    <ul class="news-lists">
                        <li>深圳技能大赛一类竞赛组织工作会议 圆满召开！</li>
                        <li>2018年中鹏杯广东省工业设计职业技能竞赛圆满召开圆满召开圆满召开圆满召开</li>
                        <li>重磅！2017年交互界面（UI）设计职业技能设计能...</li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <div class="clearfix">
                        <div class="news-top-left">
                            <img src="../assets/images/news.png">
                        </div>
                        <div class="news-top-right">
                            <div class="news-title">
                                重磅！2017年交互界面（UI）设计职 业技能...
                            </div>
                            <div class="news-summary">
                                在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位...
                            </div>
                        </div>
                    </div>
                    <ul class="news-lists">
                        <li>深圳技能大赛一类竞赛组织工作会议 圆满召开！</li>
                        <li>2018年中鹏杯广东省工业设计职业技能竞赛圆满召开圆满召开圆满召开圆满召开</li>
                        <li>重磅！2017年交互界面（UI）设计职业技能设计能...</li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <div class="clearfix">
                        <div class="news-top-left">
                            <img src="../assets/images/news.png">
                        </div>
                        <div class="news-top-right">
                            <div class="news-title">
                                重磅！2017年交互界面（UI）设计职 业技能...
                            </div>
                            <div class="news-summary">
                                在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位...
                            </div>
                        </div>
                    </div>
                    <ul class="news-lists">
                        <li>深圳技能大赛一类竞赛组织工作会议 圆满召开！</li>
                        <li>2018年中鹏杯广东省工业设计职业技能竞赛圆满召开圆满召开圆满召开圆满召开</li>
                        <li>重磅！2017年交互界面（UI）设计职业技能设计能...</li>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            var newsSwiper = new Swiper('.news-swiper .swiper-container', {
                pagination: {
                    el: '.news-swiper .swiper-pagination',
                    clickable: true,
                      renderBullet: function (index, className) {
                         switch(index){
                           case 0:text='协会公告';break;
                           case 1:text='行业动态';break;
                           case 2:text='协会动态';break;
                         }
                         return '<span class="' + className + '">' + text + '</span>';
                       },
                },
            });
        </script>
    </div>

</div>
<!--资讯动态结束-->

<!--赛事资讯开始-->
<div class="sm-news sm-match">
    <div class="sm-title">
        赛事资讯
        <a>更多 ></a>
    </div>
    <div class="match-swiper">
        <div class="swiper-pagination"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="clearfix">
                        <div class="news-top-left">
                            <img src="../assets/images/news.png">
                        </div>
                        <div class="news-top-right">
                            <div class="news-title">
                                重磅！2017年交互界面（UI）设计职 业技能...
                            </div>
                            <div class="news-summary">
                                在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位...
                            </div>
                        </div>
                    </div>
                    <ul class="news-lists">
                        <li>深圳技能大赛一类竞赛组织工作会议 圆满召开！</li>
                        <li>2018年中鹏杯广东省工业设计职业技能竞赛圆满召开圆满召开圆满召开圆满召开</li>
                        <li>重磅！2017年交互界面（UI）设计职业技能设计能...</li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <div class="clearfix">
                        <div class="news-top-left">
                            <img src="../assets/images/news.png">
                        </div>
                        <div class="news-top-right">
                            <div class="news-title">
                                重磅！2017年交互界面（UI）设计职 业技能...
                            </div>
                            <div class="news-summary">
                                在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位...
                            </div>
                        </div>
                    </div>
                    <ul class="news-lists">
                        <li>深圳技能大赛一类竞赛组织工作会议 圆满召开！</li>
                        <li>2018年中鹏杯广东省工业设计职业技能竞赛圆满召开圆满召开圆满召开圆满召开</li>
                        <li>重磅！2017年交互界面（UI）设计职业技能设计能...</li>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            var newsSwiper = new Swiper('.match-swiper .swiper-container', {
                pagination: {
                    el: '.match-swiper .swiper-pagination',
                    clickable: true,
                    renderBullet: function (index, className) {
                        switch(index){
                            case 0:text='赛事公告';break;
                            case 1:text='名次公告';break;
                        }
                        return '<span class="' + className + '">' + text + '</span>';
                    },
                },
            });
        </script>
    </div>

</div>
<!--赛事资讯结束-->

<!--协会介绍开始-->
<div class="sm-association">
    <div class="association-img">
        <img src="../assets/images/association.png"/>
    </div>
    <div class="association-title-cn">
        协会介绍
    </div>
    <div class="association-title-en">
        ASSOCIATION INTRODUCTION
    </div>
    <div class="association-summary">
        2018年中鹏杯广东省工业设计职业技能竞赛...我们旨在赋能企业改变营销、销售和经营的方式。我们为商家、品牌及其他企业提供基本的互联网互联网互联网互联网基...
    </div>
    <a class="association-btn">
        了解详情 &nbsp; >
    </a>

</div>
<!--协会介绍结束-->

<!--产品与服务开始-->
<div class="sm-news">
    <div class="sm-title">
        产品与服务
        <a>更多推荐 ></a>
    </div>
    <ul class="product-list">
        <li class="clearfix">
            <a>
                <div class="list-left">
                    <img src="../assets/images/list.png"/>
                </div>
                <div class="list-right">
                    <div class="list-right-title">
                        职业技能
                    </div>
                    <div class="list-right-summary">
                        在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位的积极筹备以及政府部门、各会员...
                    </div>
                </div>
            </a>
        </li>
        <li class="clearfix">
            <a>
                <div class="list-left">
                    <img src="../assets/images/list.png"/>
                </div>
                <div class="list-right">
                    <div class="list-right-title">
                        职业技能
                    </div>
                    <div class="list-right-summary">
                        在深圳市商业美术设计促进会的积极筹备以及政府部门、各会员单位的积极筹备以及政府部门、各会员...
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
<!--产品与服务结束-->

<!--会员风采开始-->
<div class="sm-news">
    <div class="sm-title">
        会员风采
        <a>更多推荐 ></a>
    </div>
    <div class="member-swiper">
        <div class="swiper-pagination"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul class="clearfix member-lists">
                        <li>
                            <img src="../assets/images/member.png"/>
                            <div class="member-title">
                                阿里巴巴
                            </div>
                            <div class="member-summary">
                                在深圳市商业美术设计促进筹备以及政府部员政府部员政府部 ...
                            </div>
                        </li>
                        <li>
                            <img src="../assets/images/member.png"/>
                            <div class="member-title">
                                阿里巴巴
                            </div>
                            <div class="member-summary">
                                在深圳市商业美术设计促进筹备以及政府部员政府部员政府部 ...
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="clearfix member-lists">
                        <li>
                            <img src="../assets/images/member.png"/>
                            <div class="member-title">
                                阿里巴巴
                            </div>
                            <div class="member-summary">
                                在深圳市商业美术设计促进筹备以及政府部员政府部员政府部 ...
                            </div>
                        </li>
                        <li>
                            <img src="../assets/images/member.png"/>
                            <div class="member-title">
                                阿里巴巴
                            </div>
                            <div class="member-summary">
                                在深圳市商业美术设计促进筹备以及政府部员政府部员政府部 ...
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            var newsSwiper = new Swiper('.member-swiper .swiper-container', {
                pagination: {
                    el: '.member-swiper .swiper-pagination',
                    clickable: true,
                    renderBullet: function (index, className) {
                        switch(index){
                            case 0:text='企业会员';break;
                            case 1:text='个人会员';break;
                        }
                        return '<span class="' + className + '">' + text + '</span>';
                    },
                },
            });
        </script>
    </div>

</div>
<!--会员风采结束-->

<!--专业委员会开始-->
<div class="sm-news sm-match">
    <div class="sm-title">
        专业委员会
        <a>更多 ></a>
    </div>
    <ul class="committee-lists">
        <li>
            <a>
                <img src="../assets/images/committee.png" />
                <div class="committee-lists-content">
                    <div class="committee-lists-title">
                        <span>
                            包装文化 |
                        </span>
                        Commercial Photography
                    </div>
                    <ul class="committee-lists1">
                        <li><a>工艺设计文化在活动举在活动举办中....</a></li>
                        <li><a> 工艺设计文化在活动举办中....</a></li>
                    </ul>

                </div>
            </a>
        </li>
        <li>
            <a>
                <img src="../assets/images/committee.png" />
                <div class="committee-lists-content">
                    <div class="committee-lists-title">
                        <span>
                            包装文化 |
                        </span>
                        Commercial Photography
                    </div>
                    <ul class="committee-lists1">
                        <li><a>工艺设计文化在活动举在活动举办中....</a></li>
                        <li><a> 工艺设计文化在活动举办中....</a></li>
                    </ul>

                </div>
            </a>
        </li>
    </ul>

</div>
<!--专业委员会结束-->

<!--人才服务开始-->
<div class="sm-news sm-match">
    <div class="sm-title">
        人才服务
        <a>更多 ></a>
    </div>
    <div class="talent-swiper">
        <div class="swiper-pagination"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul class="talent-lists">
                        <li>
                            <a>
                                <div class="talent-title">
                                    互动体验设计师
                                </div>
                                工作地点：北京市    招聘人数：1人
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="talent-title">
                                    互动体验设计师
                                </div>
                                工作地点：北京市    招聘人数：1人
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="talent-title">
                                    互动体验设计师
                                </div>
                                工作地点：北京市    招聘人数：1人
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="talent-lists">
                        <li>
                            <a>
                                <div class="talent-title">
                                    互动体验设计师
                                </div>
                                工作地点：北京市    招聘人数：1人
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="talent-title">
                                    互动体验设计师
                                </div>
                                工作地点：北京市    招聘人数：1人
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="talent-title">
                                    互动体验设计师
                                </div>
                                工作地点：北京市    招聘人数：1人
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="talent-lists">
                        <li>
                            <a>
                                <div class="talent-title">
                                    互动体验设计师
                                </div>
                                工作地点：北京市    招聘人数：1人
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="talent-title">
                                    互动体验设计师
                                </div>
                                工作地点：北京市    招聘人数：1人
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="talent-title">
                                    互动体验设计师
                                </div>
                                工作地点：北京市    招聘人数：1人
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            var newsSwiper = new Swiper('.talent-swiper .swiper-container', {
                pagination: {
                    el: '.talent-swiper .swiper-pagination',
                    clickable: true,
                    renderBullet: function (index, className) {
                        switch(index){
                            case 0:text='招聘信息';break;
                            case 1:text='求职信息';break;
                            case 2:text='专业讲座';break;
                        }
                        return '<span class="' + className + '">' + text + '</span>';
                    },
                },
            });
        </script>
    </div>

</div>
<!--人才服务结束-->

<!--底部开始-->
<div class="sm-footer">
    Copyright © 2000 - 2018<br>
    http://www.m.szcadpa.com. All Rights Reserved<br>
    粤ICP备16047647号-1
</div>
<!--底部结束-->

</body>
</html>