<!DOCTYPE html>
<html lang="en">
<head>
    <title>首页_关于我们-加入我们-商美</title>
    <meta charset = "utf-8">
    <!--在 web app 应用下状态条（屏幕顶部条）的颜色；(改变顶部状态条的颜色)-->
    <!--默认值为 default（白色），可以定为 black（黑色）和 black-translucent（灰色半透明）；-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!--http-equiv="Content-Type" 表示描述文档类型-->
    <!--HTTP-EQUIV类似于HTTP的头部协议，它回应给浏览器一些有用的信息，以帮助正确和精确地显示网页内容-->
    <meta http-equiv="Content-Type" content="text/html">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!--使用了application这种应用模式后，页面讲默认全屏，禁止长按菜单，禁止收拾，标准排版，以及强制图片显示。-->
    <!--应用模式-->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <!--设置屏幕方向-->
    <meta name="x5-orientation" content="portrait">
    <!--设置全屏-->
    <meta name="x5-fullscreen" content="true">
    <!--设置屏幕模式-->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!--<meta name="hotcss" content="design-width=750,max-width=750,initial-dpr=1"/>-->
    <meta name="hotcss" content="design-width=750,max-width=750,initial-dpr=1"/>
    <link rel="stylesheet" href="../assets/css/smMobile.css">
    <link rel="stylesheet" href="../assets/js/swiper/swiper.min.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/hotcss/hotcss.js"></script>
    <script src="../assets/js/swiper/swiper.min.js"></script>


</head>
<body class="font_yahei">

<!--头部开始-->
<div class="sm-header">
    深圳市商业美术设计促进会
    <div class="right-nav">

    </div>
</div>
<!--头部结束-->

<!--内容开始-->
<img class="cpfw-img" src="../assets/images/jrwm.png"  />
<div class="sm-mid-nav">
    <a>协会简介</a>
    <a>协会章程</a>
    <a>发展历程</a>
    <a>专家委员会</a>
    <a>联系我们</a>
    <a class="on">加入我们</a>
</div>

<!--诚聘英才开始-->
<div class="sm-news sm-match">
    <div class="sm-title sm-yghd-title">
        诚聘英才
        <a>更多 ></a>
    </div>

    <ul class="talent-lists jrwm-lists">
        <li>
            <a>
                <div class="talent-title">
                    互动体验设计师
                </div>
                工作地点：北京市    招聘人数：1人
                <span>了解详情 ></span>
            </a>
        </li>
        <li>
            <a>
                <div class="talent-title">
                    互动体验设计师
                </div>
                工作地点：北京市    招聘人数：1人
                <span>了解详情 ></span>
            </a>
        </li>
        <li>
            <a>
                <div class="talent-title">
                    互动体验设计师
                </div>
                工作地点：北京市    招聘人数：1人

                <span>了解详情 ></span>
            </a>
        </li>
    </ul>


</div>
<!--诚聘英才结束-->

<!--员工活动开始-->
<div class="sm-news sm-match sm-yghd">
    <div class="sm-title sm-yghd-title">
        员工活动
       <!-- <a>更多 ></a>-->
    </div>

    <ul class="yghd-lists clearfix">
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                    <div class="yghd-hide">
                        圣诞晚会
                    </div>
                </div>
                <div class="yghd-lists-bottom">
                    每年的圣诞前夜，公司全体员工会 齐聚一堂， 自导自演，载歌载舞， 共同欢庆。
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                    <div class="yghd-hide">
                        圣诞晚会
                    </div>
                </div>
                <div class="yghd-lists-bottom">
                    每年的圣诞前夜，公司全体员工会 齐聚一堂， 自导自演，载歌载舞， 共同欢庆。
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                    <div class="yghd-hide">
                        圣诞晚会
                    </div>
                </div>
                <div class="yghd-lists-bottom">
                    每年的圣诞前夜，公司全体员工会 齐聚一堂， 自导自演，载歌载舞， 共同欢庆。
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                    <div class="yghd-hide">
                        圣诞晚会
                    </div>
                </div>
                <div class="yghd-lists-bottom">
                    每年的圣诞前夜，公司全体员工会 齐聚一堂， 自导自演，载歌载舞， 共同欢庆。
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                    <div class="yghd-hide">
                        圣诞晚会
                    </div>
                </div>
                <div class="yghd-lists-bottom">
                    每年的圣诞前夜，公司全体员工会 齐聚一堂， 自导自演，载歌载舞， 共同欢庆。
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                    <div class="yghd-hide">
                        圣诞晚会
                    </div>
                </div>
                <div class="yghd-lists-bottom">
                    每年的圣诞前夜，公司全体员工会 齐聚一堂， 自导自演，载歌载舞， 共同欢庆。
                </div>
            </a>
        </li>

    </ul>


</div>
<!--员工活动结束-->

<!--办公环境开始-->
<div class="sm-news sm-match sm-yghd">
    <div class="sm-title sm-yghd-title">
        办公环境
        <!-- <a>更多 ></a>-->
    </div>

    <ul class="yghd-lists gbhj-lists clearfix">
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                </div>
                <div class="gbhj-lists-bottom">
                    总部大厦
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                </div>
                <div class="gbhj-lists-bottom">
                    总部大厦
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                </div>
                <div class="gbhj-lists-bottom">
                    总部大厦
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                </div>
                <div class="gbhj-lists-bottom">
                    总部大厦
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                </div>
                <div class="gbhj-lists-bottom">
                    总部大厦
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                </div>
                <div class="gbhj-lists-bottom">
                    总部大厦
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                </div>
                <div class="gbhj-lists-bottom">
                    总部大厦
                </div>
            </a>
        </li>
        <li>
            <a>
                <div class="yghd-lists-top">
                    <img src="../assets/images/hd1.png" />
                </div>
                <div class="gbhj-lists-bottom">
                    总部大厦
                </div>
            </a>
        </li>

    </ul>


</div>
<!--办公环境结束-->

<!--内容开始-->

<!--底部开始-->
<div class="sm-footer">
    Copyright © 2000 - 2018<br>
    http://www.m.szcadpa.com. All Rights Reserved<br>
    粤ICP备16047647号-1
</div>
<!--底部结束-->

</body>
</html>