<!DOCTYPE html>
<html lang="en">
<head>
    <title>首页_专业委员会-商美</title>
    <meta charset = "utf-8">
    <!--在 web app 应用下状态条（屏幕顶部条）的颜色；(改变顶部状态条的颜色)-->
    <!--默认值为 default（白色），可以定为 black（黑色）和 black-translucent（灰色半透明）；-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!--http-equiv="Content-Type" 表示描述文档类型-->
    <!--HTTP-EQUIV类似于HTTP的头部协议，它回应给浏览器一些有用的信息，以帮助正确和精确地显示网页内容-->
    <meta http-equiv="Content-Type" content="text/html">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!--使用了application这种应用模式后，页面讲默认全屏，禁止长按菜单，禁止收拾，标准排版，以及强制图片显示。-->
    <!--应用模式-->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <!--设置屏幕方向-->
    <meta name="x5-orientation" content="portrait">
    <!--设置全屏-->
    <meta name="x5-fullscreen" content="true">
    <!--设置屏幕模式-->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!--<meta name="hotcss" content="design-width=750,max-width=750,initial-dpr=1"/>-->
    <meta name="hotcss" content="design-width=750,max-width=750,initial-dpr=1"/>
    <link rel="stylesheet" href="../assets/css/smMobile.css">
    <link rel="stylesheet" href="../assets/js/swiper/swiper.min.css">
    <script src="../assets/js/jquery-1.10.1.min.js"></script>
    <script src="../assets/js/hotcss/hotcss.js"></script>
    <script src="../assets/js/swiper/swiper.min.js"></script>

</head>
<body class="font_yahei">

<!--头部开始-->
<div class="sm-header">
    深圳市商业美术设计促进会
    <div class="right-nav">

    </div>
</div>
<!--头部结束-->

<!--内容开始-->
<img class="cpfw-img" src="../assets/images/zywyh.png"  />

<ul class="zywyh-lists">
    <li>
        <img src="../assets/images/zywyh-list1.png" />
        <div class="zywyh-lists-title">
            商业摄影<span>Commercial Photography</span>
        </div>
        <a class="zywyh-lists-a">工艺设计文化在活动举在活动举办中.... </a>
    </li>
    <li>
        <img src="../assets/images/zywyh-list1.png" />
        <div class="zywyh-lists-title">
            商业摄影<span>Commercial Photography</span>
        </div>
        <a class="zywyh-lists-a">工艺设计文化在活动举在活动举办中.... </a>
    </li>
    <li>
        <img src="../assets/images/zywyh-list1.png" />
        <div class="zywyh-lists-title">
            商业摄影<span>Commercial Photography</span>
        </div>
        <a class="zywyh-lists-a">工艺设计文化在活动举在活动举办中.... </a>
    </li>
</ul>

<!--内容开始-->

<!--底部开始-->
<div class="sm-footer">
    Copyright © 2000 - 2018<br>
    http://www.m.szcadpa.com. All Rights Reserved<br>
    粤ICP备16047647号-1
</div>
<!--底部结束-->
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("sm-map");
    var point = new BMap.Point(114.252481, 22.716557);
    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);              // 将标注添加到地图中
    map.centerAndZoom(point, 18);
    var opts = {
        width : 280,     // 信息窗口宽度
        height: 60     // 信息窗口高度
    }
    var infoWindow = new BMap.InfoWindow("<div style='font-size: 0.6rem;'>深圳市商业美术设计促进会</div><div style='font-size: 0.5rem;'>地址：深圳市龙岗区龙岗大道湖广通创业大厦四楼</div>", opts);  // 创建信息窗口对象
    marker.addEventListener("click", function(){
        map.openInfoWindow(infoWindow,point); //开启信息窗口
    });
</script>
</body>
</html>